*{
    box-sizing: border-box;
    margin: 0;
}

.panel{
    
    flex: 1;
    height: 100vh;
    
}

.panel-container{
    display: flex;
    flex-direction: row;
    
    
}

.one{
    background: url("https://images.unsplash.com/photo-1619038779484-a27362fb82cd?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.two{
    background: url("https://images.unsplash.com/photo-1719307893825-f652cc5316e4?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}
.three{
    background: url("https://images.unsplash.com/photo-1574870111867-089730e5a72b?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.four{
    background: url("https://images.unsplash.com/photo-1484406566174-9da000fda645?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.five{
    background: url("https://images.unsplash.com/photo-1604860428762-f55cea62b7a0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}